@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url('images/bg-image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    /* background-attachment: fixed; */
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 85vh;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-previous{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

#song-container img{
    border-radius: 10px;
}

#song-container audio{
    display: block;
}